<form action="/signin" method="POST">
  <label>Emai</label>
  <input name="username" type="text" placeholder="Enter your email"  >

  <label>Password</label>
  <input name="password" type="password" placeholder="Enter your Password"  >
  <button type="submit" >Sign In</button>
</form>